{% extends "base.html" %}
{% load static %}
{% block title %}Peppe Planet - Locations{% endblock %}

{% block content %}

<div class="locate-main-container">
    <div class="location-card">
        <h3>Locate Us</h3>
        <p><strong>Peppe Planet</strong></p>
                               <p> 3rd Floor, Dreams Mall, Kottiyam</p>
        
        <p></p>

        <a href="https://maps.google.com/?q=Peppe+Planet+Aluva" target="_blank" class="map-btn">
            View on Google Maps
        </a>
    </div>
</div>

{% endblock %}